<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<h:form id="frmDMP">
			<p:panelGrid columns="1" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:outputLabel style="font-size: 60px; font-weight: bold;">Distribución Muestral Proporcional</p:outputLabel>
				<h:outputLabel value="Introduce el dato respectivo en cada campo: " />
				
				<p:panelGrid columns="2" layout="grid"
				style="margin: 20px; text-align: center;">
				<h:outputLabel value="Proporción Poblacional (P): " style="margin-left: 50%;"/>
				<p:inputNumber rows="1" cols="20" id="txtProporcion" placeholder="Proporción Poblacional (P)" style="margin-left: -50%;"
					minValue="-0.0000001" maxValue="1.000" decimalPlaces="3"
					binding="#{distribMuestralProporcionalVista.txtProporcion}" />			
					
				<h:outputLabel value="Tamaño de la Muestra (n): " style="margin-left: 50%;" />		
				<p:inputNumber rows="1" cols="17" id="txtMuestra" placeholder="Tamaño de la Muestra (n)" style="margin-left: -50%;"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{distribMuestralProporcionalVista.txtMuestra}" />		
					
				</p:panelGrid>
				
				<p:messages id="messages" showDetail="true" autoUpdate="true" />
			</p:panelGrid>
			<p:panelGrid columns="3" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:outputLabel style="margin-left: 120%; margin-top:10%;" value="p̂"/>
				<p:selectOneMenu binding="#{distribMuestralProporcionalVista.somMenorMayor}">
					<f:selectItem itemLabel="Menor Que" itemValue="menor"/>
					<f:selectItem itemLabel="Mayor Que" itemValue="mayor"/>
				</p:selectOneMenu>
				<p:inputNumber style="margin-left: -70%;" rows="1" cols="5" id="txtDato" placeholder="dato"
					minValue="-0.0000001" maxValue="1.000" decimalPlaces="3"
					binding="#{distribMuestralProporcionalVista.txtDato}" />
			</p:panelGrid>
			
			<p:panelGrid columns="2" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:commandButton id="btnCalcular" value="Calcular"
						icon="ui-icon-gear" update="frmDMP" style="margin-left: 65%;"
						action="#{distribMuestralProporcionalVista.calcularAction}" binding="#{distribMuestralProporcionalVista.btnCalcular}"/>
					<p:commandButton disabled="true" id="btnLimpiar" value="Limpiar" style="margin-left: -75%;"
						icon="ui-icon-trash" update="frmDMP" binding="#{distribMuestralProporcionalVista.btnLimpiar}" action="#{distribMuestralProporcionalVista.limpiarAction}"/>
				<h:outputLabel value="Resultado: " style="margin-left: 65%;"/>
				<p:inputNumber rows="1" cols="3" id="txtResultado" placeholder="Resultado" disabled="true"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{distribMuestralProporcionalVista.txtDistribucion}" style="margin-left: -65%;" />
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>