<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<h:form id="frmParametro">
			<p:panelGrid columns="1" layout="grid"
				style="margin: 20px; text-align: center;">
					<p:outputLabel style="font-size: 60px; font-weight: bold;">Muestreo Estratificado</p:outputLabel>
					<h:outputLabel value="Introduce los datos separados por coma (,): " />
					<p:inputTextarea rows="6" cols="33" id="txtAreaDatos"
						binding="#{muestreoAleatorioEstratificadoVista.txtAreaDatos}"
						placeholder="Elementos de la población" />
					<h:outputLabel value="Número de muestras: " />
					<p:inputNumber id="numberNumeroMuestras" />
					<h:outputLabel value="Tamaño de muestras: " />
				<p:messages id="messages" showDetail="true" autoUpdate="true" />
				<p:panelGrid columns="2" layout="grid"
					style="margin: 20px; text-align: center;">
					<p:commandButton id="btnCalcular" value="Calcular"
						icon="ui-icon-gear" update="frmParametro"
						action="#{muestreoAleatorioEstratificadoVista.calcularAction}"
						binding="#{muestreoAleatorioEstratificadoVista.btnCalcular}" />
					<p:commandButton disabled="true" id="btnLimpiar" value="Limpiar"
						icon="ui-icon-trash" update="frmParametro"
						binding="#{muestreoAleatorioEstratificadoVista.btnLimpiar}"
						action="#{muestreoAleatorioEstratificadoVista.limpiarAction}" />
					<p:outputLabel value="Total de datos:" />
					<p:inputText disabled="true" id="txtTotalDatos"
						binding="#{muestreoAleatorioEstratificadoVista.txtTotalDatos}" />
				</p:panelGrid>
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>