<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Prueba de hipótesis una población (Proporción)" />
		<h:form id="frmVariables">
			<p:growl id="msg" />
			<p:panelGrid columns="6" layout="grid" style="padding-top:20px;">

				<p:outputLabel>H<sub>0</sub>:</p:outputLabel>
				<p:inputNumber placeholder="Hipótesis nula" id="numHipotesisNula"
					minValue="-0.0000001" decimalPlaces="3" maxValue="1.0000000"
					binding="#{hipotesisUnaPoblacionProporcionVista.numHipotesisNula}" />

				<p:outputLabel>H<sub>1</sub>:</p:outputLabel>
				<p:inputNumber placeholder="Hipótesis alternativa"
					id="numHipotesisAlterna" minValue="-0.0000001" decimalPlaces="3" maxValue="1.0000000"
					binding="#{hipotesisUnaPoblacionProporcionVista.numHipotesisAlterna}" />

				<p:outputLabel>Simbolo:</p:outputLabel>
				<p:selectOneMenu binding="#{hipotesisUnaPoblacionProporcionVista.somSimbolo}"
					style="width:125px">
					<f:selectItem itemLabel="diferente" itemValue="0" />
					<f:selectItem itemLabel="Menor que" itemValue="1" />
					<f:selectItem itemLabel="Mayor que" itemValue="2" />
				</p:selectOneMenu>

				<p:outputLabel value="n : " />
				<p:inputNumber placeholder="Tamaño de la Muestra"
					id="numTamanoMuestra" required="true" minValue="-0.0000001"
					decimalPlaces="1" binding="#{hipotesisUnaPoblacionProporcionVista.numTamano}" />

				<p:outputLabel value="p&#772; : " />
				<p:inputNumber placeholder="proporción Muestral" id="numMediaMuestral"
					required="true" minValue="-0.0000001" decimalPlaces="3" maxValue="1.0000"
					binding="#{hipotesisUnaPoblacionProporcionVista.numProporcion}" />

				<p:outputLabel value="&#945; : " />
				<p:inputNumber placeholder="Nivel de confiabilidad"
					id="numNivelConfianza" minValue="0.01" maxValue="0.10"
					decimalPlaces="2" value="0.05"
					binding="#{hipotesisUnaPoblacionProporcionVista.numNivelSignificancia}" />

				<p:commandButton style="margin-left: 50%;" value="Calcular"
					action="#{hipotesisUnaPoblacionProporcionVista.calcularAction}"
					binding="#{hipotesisUnaPoblacionProporcionVista.btnCalcular}"
					update="frmVariables">
				</p:commandButton>
				<p:commandButton value="Limpiar"
					action="#{intervaloConfianzaVista.limpiarAction}"
					binding="#{intervaloConfianzaVista.btnLimpiar}"
					update="frmVariables" disabled="true">
				</p:commandButton>
				<p:outputLabel value="" />

			</p:panelGrid>

			<p:panel header="Resultado">
				<p:panelGrid binding="#{intervaloConfianzaVista.pnlCasoUno}" columns="4" layout="grid">
					<p:outputLabel>Valor calculado:</p:outputLabel>
					<p:outputLabel
						binding="#{hipotesisUnaPoblacionProporcionVista.oplZCalculado}" />

					<p:outputLabel value="Valor teórico" />
					<p:outputLabel binding="#{hipotesisUnaPoblacionProporcionVista.oplZTeorico}" />

				</p:panelGrid>

				<p:panelGrid columns="2" layout="grid">

					<p:outputLabel>Interpretación:</p:outputLabel>
					<p:outputLabel
						binding="#{hipotesisUnaPoblacionProporcionVista.oplInterpretacion}" />

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>