<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<h:form id="frmDNM">
			<p:panelGrid columns="1" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:outputLabel style="font-size: 60px; font-weight: bold;">Distribución Normal Muestral</p:outputLabel>
				<h:outputLabel value="Introduce el dato respectivo en cada campo: " />
				<p:panelGrid columns="2" layout="grid"
				style="margin: 20px; text-align: center;">
				<h:outputLabel value="Media (µ): " style="margin-left: 50%;" />
				<p:inputNumber rows="1" cols="15" id="txtMedia" placeholder="Media (µ)" minValue="-0.0000001" decimalPlaces="3"
					binding="#{distribNormalMuestralVista.txtMedia}" style="margin-left: -50%;"/>			
					
				<h:outputLabel value="Desviación Estándar (σ): " style="margin-left: 50%;"/>	
				<p:inputNumber rows="1" cols="15" id="txtDNM" placeholder="Desviación Estándar (σ)" minValue="-0.0000001" decimalPlaces="3"
					binding="#{distribNormalMuestralVista.txtDesviacion}" style="margin-left: -50%;"/>	
					
				<h:outputLabel value="Tamaño de la Muestra (n): " style="margin-left: 50%;"/>
				<p:inputNumber rows="1" cols="15" id="txtMuestra" placeholder="Tamaño de la Muestra (n)" minValue="-0.0000001 " decimalPlaces="3"
					binding="#{distribNormalMuestralVista.txtMuestra}" style="margin-left: -50%;"/>	
				</p:panelGrid>	
				
				<p:messages id="messages" showDetail="true" autoUpdate="true" />
			</p:panelGrid>
			<p:panelGrid columns="3" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:inputNumber style="margin-left: 100%;" rows="1" cols="5" id="txtAreaZMenor" placeholder="dato"
					binding="#{distribNormalMuestralVista.txtZMenor}" />
				<p:outputLabel value="&#60; Z &#60;"/>
				<p:inputNumber style="margin-left: -135%;" rows="1" cols="5" id="txtAreaZMayor" placeholder="dato"
					binding="#{distribNormalMuestralVista.txtZMayor}" />
			</p:panelGrid>
			
			<p:panelGrid columns="2" layout="grid"
				style="margin: 20px; text-align: center;">
				<p:commandButton id="btnCalcular" value="Calcular"
						icon="ui-icon-gear" update="frmDNM" style="margin-left: 65%;"
						action="#{distribNormalMuestralVista.calcularEntreAction}" binding="#{distribNormalMuestralVista.btnCalcular}"/>
					<p:commandButton disabled="true" id="btnLimpiar" value="Limpiar" style="margin-left: -75%;"
						icon="ui-icon-trash" update="frmDNM" binding="#{distribNormalMuestralVista.btnLimpiar}" action="#{distribNormalMuestralVista.limpiarAction}"/>
				<h:outputLabel value="Resultado: " style="margin-left: 65%;"/>
				<p:inputNumber rows="1" cols="3" id="txtResultado" placeholder="Resultado" disabled="true" decimalPlaces="3"
					binding="#{distribNormalMuestralVista.txtResultado}" style="margin-left: -65%;" />
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>