<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la diferencias de medias" />
		<h:form id="frmVariables">
			<p:growl id="msg"/>
			<p:panelGrid style="padding-top:20px;">

				<f:facet name="header">
					<p:row>
						<p:column colspan="2">Primer muestreo</p:column>
						<p:column colspan="2">Segundo muestreo</p:column>
					</p:row>
				</f:facet>

				<p:row>
					<p:column>
						<p:outputLabel value="Datos:"/>
					</p:column>
					
					<p:column>
						<p:inputTextarea id="txtAreaDatosPob1" binding="#{iCDifMediasIndepVista.txtAreaDatosPob1}" required="true"/>
					</p:column>
					
					<p:column>
						<p:outputLabel value="Datos:" />
					</p:column>
					
					<p:column>
						<p:inputTextarea id="txtAreaDatosPob2" binding="#{iCDifMediasIndepVista.txtAreaDatosPob2}" required="true"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="4" styleClass="ui-widget-header">
						<p:spacer height="0" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel value="1-&#945;" />
					</p:column>
					
					<p:column>
						<p:inputNumber id="numNivelConfianza" binding="#{iCDifMediasIndepVista.numNivelConfianza}" required="true" minValue="0.90" maxValue="0.99" decimalPlaces="2"
					value="0.95"/>
					</p:column>
					
					<p:column>
						<p:outputLabel value="&#945;" />
					</p:column>
					
					<p:column>
						<p:inputNumber id="numAlfa" binding="#{iCDifMediasIndepVista.numAlfa}" disabled="true"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2">
						<p:commandButton value="Calcular" binding="#{iCDifMediasIndepVista.btnCalcular}" action="#{iCDifMediasIndepVista.calcular}" update="frmVariables"/>
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="Limpiar" binding="#{iCDifMediasIndepVista.btnLimpiar}"/>
					</p:column>
				</p:row>
				
			</p:panelGrid>

			<p:panel header="Resultado" id="Resultado" styleClass="resultados">
				<p:panelGrid columns="6" layout="grid" style="display: none;" binding="#{iCDifMediasIndepVista.pnlResultados}">

					<p:outputLabel> t<sub>&#945;/2</sub></p:outputLabel>
					<p:outputLabel id="oplZ" binding="#{iCDifMediasIndepVista.oplZ}"/>
					
					<p:outputLabel> V</p:outputLabel>
					<p:outputLabel id="oplGradosLibertad" binding="#{iCDifMediasIndepVista.oplGradosLibertad}"/>

					<p:outputLabel binding="#{iCDifMediasIndepVista.oplICTitulo}">IC <sub>(1-&#945;)</sub>(&#956;<sub>D</sub>):</p:outputLabel>
					<p:outputLabel value="IC" binding="#{iCDifMediasIndepVista.oplIC}"/>

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel binding="#{iCDifMediasIndepVista.oplInterpretacion}"
							value="tsdfsdvhsdihnsjviydjhfksdfdsyhfb jsdkv bsddsjkfygsdhfvjsdfgdsvbrjsdhgfbfvjhsdfgv bfjhsdfgvbfuiksdjfgfujdhfsgu
					hjdsfbsdhjfgsdbhdsjcgsbcjdnbvsdcjh sdcbsdhcjskdcdsb choskdjcsdcbsdu" />

					</p:panelGrid>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>