<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la diferencias de medias" />
		<h:form id="frmVariables">
			<p:panelGrid style="padding-top:20px;">

				<f:facet name="header">
					<p:row>
						<p:column colspan="2">Población 1</p:column>
						<p:column colspan="2">Población 2</p:column>
					</p:row>
				</f:facet>

				<p:row>
					<p:column>
						<p:outputLabel value="&#963;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numDesviacionEstandarPob1" 
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numDesviacionEstandarPob1}" />
					</p:column>
					<p:column>
						<p:outputLabel value="&#963;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numDesviacionEstandarPob2" 
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numDesviacionEstandarPob2}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel value="n" />
					</p:column>
					<p:column>
						<p:inputNumber id="numTamanoMuestraPob1" 
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numTamanoMuestraPob1}" />
					</p:column>
					<p:column>
						<p:outputLabel value="n" />
					</p:column>
					<p:column>
						<p:inputNumber id="numTamanoMuestraPob2" 
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numTamanoMuestraPob2}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel value="x&#772;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numMediaMuestralPob1"
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numMediaMuestralPob1}" />
					</p:column>
					<p:column>
						<p:outputLabel value="x&#772;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numMediaMuestralPob2"
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numMediaMuestralPob2}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="4" styleClass="ui-widget-header">
						<p:spacer height="0" />
					</p:column>
				</p:row>
				
				<p:row>
					<p:column>
						<p:outputLabel value="1-&#945;"/>
					</p:column>
					<p:column>
						<p:inputNumber placeholder="Nivel de confianza"
							id="numNivelConfianza"
							minValue="0.90" maxValue="0.99" decimalPlaces="2"
							value="0.95" binding="#{iCMPoblacionesIndependientes.numNivelConfianza}"/>
					</p:column>
					<p:column>
						<p:outputLabel value="&#945;"/>
					</p:column>
					<p:column>
						<p:inputNumber disabled="true"
							minValue="-0.0000001" decimalPlaces="3"
							binding="#{iCMPoblacionesIndependientes.numAlfa}"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2">
						<p:commandButton value="Calcular" binding="#{iCMPoblacionesIndependientes.btnCalcular}"/>
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="Limpiar" binding="#{iCMPoblacionesIndependientes.btnLimpiar}"/>
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panel header="Resultado" styleClass="resultados">
				<p:panelGrid columns="6" layout="grid" style="display: none;" binding="#{iCMPoblacionesIndependientes.pnlResultado}">

					<p:outputLabel> Z<sub>&#945;/2</sub></p:outputLabel>
					<p:outputLabel id="oplZ" />

					<p:outputLabel>IC <sub>(1-&#945;)</sub>(&#956;<sub>1</sub>-&#956;<sub>2</sub>):</p:outputLabel>
					<p:outputLabel value="IC" />
					
					<p:outputLabel>V</p:outputLabel>
					<p:outputLabel id="oplV" />

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel
							value="tsdfsdvhsdihnsjviydjhfksdfdsyhfb jsdkv bsddsjkfygsdhfvjsdfgdsvbrjsdhgfbfvjhsdfgv bfjhsdfgvbfuiksdjfgfujdhfsgu
					hjdsfbsdhjfgsdbhdsjcgsbcjdnbvsdcjh sdcbsdhcjskdcdsb choskdjcsdcbsdu" />

					</p:panelGrid>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>