<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la razón de varianzas" />
		<h:form id="frmVariables">
			<p:growl id="msg"/>
			<p:panelGrid style="padding-top:20px;">

				<f:facet name="header">
					<p:row>
						<p:column colspan="2">Población 1</p:column>
						<p:column colspan="2">Población 2</p:column>
					</p:row>
				</f:facet>

				<p:row>
					<p:column>
						<p:outputLabel value="n" />
					</p:column>
					<p:column>
						<p:inputNumber id="numTamanoMuestraPob1"  binding="#{iCRazonVarianzasVista.numTamanoMuestraPob1}" required="true" minValue="-0.00001"/>
					</p:column>
					<p:column>
						<p:outputLabel value="n" />
					</p:column>
					<p:column>
						<p:inputNumber id="numTamanoMuestraPob2" binding="#{iCRazonVarianzasVista.numTamanoMuestraPob2}" required="true" minValue="-0.00001"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel value="S²" />
					</p:column>
					<p:column>
						<p:inputNumber id="numVarianzaMuestralPob1" binding="#{iCRazonVarianzasVista.numVarianzaMuestralPob1}" required="true" minValue="-0.00001"/>
					</p:column>
					<p:column>
						<p:outputLabel value="S²" />
					</p:column>
					<p:column>
						<p:inputNumber id="numVarianzaMuestralPob2" binding="#{iCRazonVarianzasVista.numVarianzaMuestralPob2}" required="true" minValue="-0.00001"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="4" styleClass="ui-widget-header">
						<p:spacer height="0" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel value="1-&#945;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numNivelConfianza" binding="#{iCRazonVarianzasVista.numNivelConfianza}" minValue="-0.90" maxValue="0.99" value="0.95"/>
					</p:column>
					<p:column>
						<p:outputLabel value="&#945;" />
					</p:column>
					<p:column>
						<p:inputNumber id="numAlfa" binding="#{iCRazonVarianzasVista.numAlfa}"/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2">
						<p:commandButton value="Calcular" binding="#{iCRazonVarianzasVista.btnCalcular}" action="#{iCRazonVarianzasVista.calcular}" update="frmVariables"/>
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="Limpiar" />
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panel header="Resultado" styleClass="resultados">
				<p:panelGrid style="padding-top:20px;">

					<p:row>
						<p:column>
							<p:outputLabel>f<sub>&#945;/2</sub></p:outputLabel>
						</p:column>
						<p:column>
							<p:inputNumber binding="#{iCRazonVarianzasVista.numFisherAlfaMedios}" disabled="true"/>
						</p:column>
						<p:column>
							<p:outputLabel>f<sub>1-&#945;/2</sub></p:outputLabel>
						</p:column>
						<p:column>
							<p:inputNumber binding="#{iCRazonVarianzasVista.numFisherAlfaMediosMenos}" disabled="true"/>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<p:outputLabel>V<sub>1</sub></p:outputLabel>
						</p:column>
						<p:column>
							<p:inputNumber binding="#{iCRazonVarianzasVista.numGradoslibertadPob1}" disabled="true"/>
						</p:column>
						<p:column>
							<p:outputLabel>V<sub>2</sub></p:outputLabel>
						</p:column>
						<p:column>
							<p:inputNumber binding="#{iCRazonVarianzasVista.numGradoslibertadPob2}" disabled="true"/>
						</p:column>
					</p:row>

					<p:row>
						<p:column colspan="2">
							<p:outputLabel value="IC" binding="#{iCRazonVarianzasVista.oplICTitulo}"/>
						</p:column>
						<p:column colspan="2">
							<p:outputLabel binding="#{iCRazonVarianzasVista.oplIC}"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column colspan="2">
							<p:outputLabel value="Interpretación" />
						</p:column>
						<p:column colspan="2">
							<p:outputLabel binding="#{iCRazonVarianzasVista.oplInterpretacion}"/>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>