<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la varianza poblacional" />
		<h:form id="frmVariables">
			<p:growl id="msg"/>
			<p:panelGrid columns="6" layout="grid" style="padding-top:20px;">
				<p:outputLabel value="S² : " />
				<p:inputNumber placeholder="Proporción poblacional"
					id="numPrporciónMuestral" />

				<p:outputLabel value="n : " />
				<p:inputNumber placeholder="Tamaño de la muestra" id="numTamanoMuestra" />

				<p:outputLabel value="1-a : " />
				<p:inputNumber placeholder="nivel de confianza (por defecto 0.95)"
					id="numNivelConfianza" minValue="0.90" maxValue="0.99" decimalPlaces="2"
					value="0.95" />

				<p:outputLabel value="a : " />
				<p:inputNumber id="numAlfa"
					disabled="true" />
					
					
				<p:outputLabel value="a/2 : " />
				<p:inputNumber id="numAlfaMedios" disabled="true"/>
				
				<p:outputLabel value="1 - a/2 : " />
				<p:inputNumber id="numAlfaMediosMenosUno" disabled="true"/>
				
			</p:panelGrid>
			
			<p:panelGrid columns="2">
				<p:commandButton value="Calcular"/>
				<p:commandButton value="Limpiar"/>
			</p:panelGrid>

			<p:panel header="Resultado" styleClass="resultados">
				<p:panelGrid columns="4" layout="grid" style="display: none;">

					<p:outputLabel value="X² a/2" />
					<p:outputLabel id="oplChiCuadradoAlfaMedios" />

					<p:outputLabel value="X² 1 - a/2" />
					<p:outputLabel id="oplChiCuadradoAlfaMediosMenosUno" value="IC" />
					
					<p:outputLabel value="V" />
					<p:outputLabel id="oplGradosLibertad" value="IC" />
					
					<p:outputLabel value="IC 1-a (d²): " />
					<p:outputLabel id="oplIcVarianza" value="IC" />
					
					<p:outputLabel value="IC 1-a (d): " />
					<p:outputLabel id="oplIcDesviacionEstandar" value="IC" />

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel
							value="tsdfsdvhsdihnsjviydjhfksdfdsyhfb jsdkv bsddsjkfygsdhfvjsdfgdsvbrjsdhgfbfvjhsdfgv bfjhsdfgvbfuiksdjfgfujdhfsgu
					hjdsfbsdhjfgsdbhdsjcgsbcjdnbvsdcjh sdcbsdhcjskdcdsb choskdjcsdcbsdu" />

					</p:panelGrid>

				</p:panelGrid>
				
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>