<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la media poblacional" />
		<h:form id="frmVariables">
			<p:growl id="msg"/>
			<p:panelGrid columns="4" layout="grid" style="padding-top:20px;">

				<p:outputLabel value="&#963; : " />
				<p:inputNumber placeholder="Desviación Estándar"
					id="numDesviacionEstandar"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaVista.numDesviacionEstandar}" />

				<p:outputLabel value="n : " />
				<p:inputNumber placeholder="Tamaño de la Muestra"
					id="numTamanoMuestra"
					required="true"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaVista.numMuestra}" />

				<p:outputLabel value="x&#772; : " />
				<p:inputNumber placeholder="Media Muestral" 
					id="numMediaMuestral"
					required="true"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaVista.numMediaMuestral}" />

				<p:outputLabel value="1- &#945; : " />
				<p:inputNumber placeholder="Nivel de confianza"
					id="numNivelConfianza"
					minValue="0.90" maxValue="0.99" decimalPlaces="2"
					value="0.95"
					binding="#{intervaloConfianzaVista.numNivelConfianza}" />

				<p:outputLabel value="S : " />
				<p:inputNumber placeholder="Desviación estándar muestral" id="numAlfa"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaVista.numAlfa}" />
				<p:outputLabel value="" />
				<p:outputLabel value="" />	
				<p:outputLabel value="" />
				<p:commandButton style="margin-left: 50%;" value="Calcular"
					action="#{intervaloConfianzaVista.calcularAction}" binding="#{intervaloConfianzaVista.btnCalcular}"
					update="frmVariables">
				</p:commandButton>
				<p:commandButton value="Limpiar"
					action="#{intervaloConfianzaVista.limpiarAction}" binding="#{intervaloConfianzaVista.btnLimpiar}"
					update="frmVariables"
					disabled="true">
				</p:commandButton>
				<p:outputLabel value="" />

			</p:panelGrid>

			<p:panel header="Resultado">
				<p:panelGrid binding="#{intervaloConfianzaVista.pnlCasoUno}" columns="4" layout="grid" style="display: none;">
					<p:outputLabel>Caso:</p:outputLabel>
					<p:outputLabel binding="#{intervaloConfianzaVista.oplCaso1}"/>
					
					<p:outputLabel value="Z" />
					<p:outputLabel id="oplZ" binding="#{intervaloConfianzaVista.oplZUno}" />

					<p:outputLabel value="IC" />
					<p:outputLabel value="IC" binding="#{intervaloConfianzaVista.oplICUno}"/>

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel
							binding="#{intervaloConfianzaVista.oplInterpretacionUno}"/>

					</p:panelGrid>

				</p:panelGrid>

				<p:panelGrid binding="#{intervaloConfianzaVista.pnlCasoDos}" columns="4" layout="grid" style="display: none;">

					<p:outputLabel>Caso:</p:outputLabel>
					<p:outputLabel binding="#{intervaloConfianzaVista.oplCaso}"/>
					
					<p:outputLabel value="Z" />
					<p:outputLabel id="oplTstudent" value="das" binding="#{intervaloConfianzaVista.oplTDos}"/>

					<p:outputLabel value="V" />
					<p:outputLabel id="oplGradosLibertad" binding="#{intervaloConfianzaVista.oplVDos}"/>

					<p:outputLabel value="IC" />
					<p:outputLabel id="IcCaso2" binding="#{intervaloConfianzaVista.oplICDos}"/>

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel
							binding="#{intervaloConfianzaVista.oplInterpretacionDos}"/>

					</p:panelGrid>

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>