<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title"
			value="Intervalos de confianza para la proporción poblacional" />
		<h:form id="frmVariables">
			<p:growl id="msg"/>
			<p:panelGrid columns="6" layout="grid" style="padding-top:20px;">
				<p:outputLabel value="p gorro : " />
				<p:inputNumber placeholder="Proporción Muestral"
					id="numPrporciónMuestral" 
					required="true"
					minValue="-0.0000001" maxValue="1.000" decimalPlaces="3"
					binding="#{intervaloConfianzaPropVista.numPGorro}"/>

				<p:outputLabel value="q gorro : " />
				<p:inputNumber placeholder="Media poblacional"
					disabled="true"
					id="numQMuestral"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaPropVista.numQGorro}" />

				<p:outputLabel value="n : " />
				<p:inputNumber placeholder="Tamaño de la muestra" id="numTamanoMuestra" 
					minValue="-0.0000001" decimalPlaces="3"
					required="true"
					binding="#{intervaloConfianzaPropVista.numMuestra}"/>

				<p:outputLabel value="1- &#945; : " />
				<p:inputNumber placeholder="Nivel de confianza"
					id="numNivelConfianza"
					minValue="0.90" maxValue="0.99" decimalPlaces="2"
					required="true"
					value="0.95"
					binding="#{intervaloConfianzaPropVista.numNivelConfianza}" />

				<p:outputLabel value="a : " />
				<p:inputNumber id="numAlfa"
					disabled="true" 
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaPropVista.numAlfa}"/>
					
					
				<p:outputLabel value="a/2 : " />
				<p:inputNumber id="numAlfaMedios" disabled="true"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{intervaloConfianzaPropVista.numAlfaMedios}"/>
					
				<p:outputLabel value="" />	
				<p:outputLabel value="" />
				<p:commandButton style="margin-left: 50%;" value="Calcular"
					action="#{intervaloConfianzaPropVista.calcularAction}" binding="#{intervaloConfianzaPropVista.btnCalcular}"
					update="frmVariables">
				</p:commandButton>
				<p:commandButton value="Limpiar"
					action="#{intervaloConfianzaPropVista.limpiarAction}" binding="#{intervaloConfianzaPropVista.btnLimpiar}"
					update="frmVariables"
					disabled="true">
				</p:commandButton>
				<p:outputLabel value="" />
				<p:outputLabel value="" />

			</p:panelGrid>

			<p:panel header="Resultado" styleClass="resultados">
				<p:panelGrid binding="#{intervaloConfianzaPropVista.pnlCasoUno}" columns="4" layout="grid" style="display: none;">

					<p:outputLabel value="Z" />
					<p:outputLabel id="oplZ" binding="#{intervaloConfianzaPropVista.oplZUno}" />

					<p:outputLabel value="IC" />
					<p:outputLabel value="IC" binding="#{intervaloConfianzaPropVista.oplICUno}"/>

					<p:panelGrid columns="2">

						<p:outputLabel value="Interpretación: " />
						<p:outputLabel
							binding="#{intervaloConfianzaPropVista.oplInterpretacionUno}"/>

					</p:panelGrid>

				</p:panelGrid>
				
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>