<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/facelets/template.xhtml">

	<ui:define name="content">
		<p:outputLabel styleClass="title">Prueba de hipótesis dos poblaciones (Media U<sub>1</sub>-U<sub>2</sub>)</p:outputLabel>
		<h:form id="frmVariables">
			<p:growl id="msg" />
			<p:panelGrid columns="6" layout="grid" style="padding-top:20px;">

				<p:outputLabel>H<sub>0</sub>:</p:outputLabel>
				<p:inputNumber placeholder="Hipótesis nula" id="numHipotesisNula"
					minValue="-0.0000001" decimalPlaces="3"
					binding="#{hipotesisUnaPoblacionVista.numHipotesisNula}" />

				<p:outputLabel>H<sub>1</sub>:</p:outputLabel>
				<p:inputNumber placeholder="Hipótesis alternativa"
					id="numHipotesisAlterna" minValue="-0.0000001" decimalPlaces="3"
					binding="#{hipotesisUnaPoblacionVista.numHipotesisAlterna}" />

				<p:outputLabel>Simbolo:</p:outputLabel>
				<p:selectOneMenu binding="#{hipotesisUnaPoblacionVista.somSimbolo}"
					style="width:125px">
					<f:selectItem itemLabel="diferente" itemValue="0" />
					<f:selectItem itemLabel="Menor que" itemValue="1" />
					<f:selectItem itemLabel="Mayor que" itemValue="2" />
				</p:selectOneMenu>

				<p:outputLabel value="Tamaño muestra 1: " />
				<p:inputNumber placeholder="Tamaño de la Muestra 1"
					id="numTamanoMuestra" required="true" minValue="-0.0000001"
					decimalPlaces="1" binding="#{hipotesisUnaPoblacionVista.numTamano}" />
					
				<p:outputLabel value="Tamaño muestra 2: " />
				<p:inputNumber placeholder="Tamaño de la Muestra 2"
					id="numTamanoMuestra" required="true" minValue="-0.0000001"
					decimalPlaces="1" binding="#{hipotesisUnaPoblacionVista.numTamano}" />
	
				<p:outputLabel value="&#945; : " />
				<p:inputNumber placeholder="Nivel de confiabilidad"
					id="numNivelConfianza" minValue="0.01" maxValue="0.10"
					decimalPlaces="2" value="0.05"
					binding="#{hipotesisUnaPoblacionVista.numNivelSignificancia}" />
					
				<p:outputLabel value="&#963; : " />
				<p:inputNumber placeholder="Desviación Estándar 1"
					id="numDesviacionEstandar" minValue="-0.0000001" decimalPlaces="3"
					binding="#{hipotesisUnaPoblacionVista.numDesviacionEstandar}" />
					
				<p:outputLabel value="&#963; : " />
				<p:inputNumber placeholder="Desviación Estándar 2"
					id="numDesviacionEstandar" minValue="-0.0000001" decimalPlaces="3"
					binding="#{hipotesisUnaPoblacionVista.numDesviacionEstandar}" />	
	
				<p:outputLabel value="x&#772; : " />
				<p:inputNumber placeholder="Media Muestral" id="numMediaMuestral"
					required="true" minValue="-0.0000001" decimalPlaces="3"
					binding="#{hipotesisUnaPoblacionVista.numMedia}" />

				<p:commandButton style="margin-left: 50%;" value="Calcular"
					action="#{hipotesisUnaPoblacionVista.calcularAction}"
					binding="#{hipotesisUnaPoblacionVista.btnCalcular}"
					update="frmVariables">
				</p:commandButton>
				<p:commandButton value="Limpiar"
					action="#{intervaloConfianzaVista.limpiarAction}"
					binding="#{intervaloConfianzaVista.btnLimpiar}"
					update="frmVariables" disabled="true">
				</p:commandButton>
				<p:outputLabel value="" />

			</p:panelGrid>

			<p:panel header="Resultado">
				<p:panelGrid binding="#{intervaloConfianzaVista.pnlCasoUno}"
					columns="4" layout="grid" style="display: none;">
					<p:outputLabel>Z calculado:</p:outputLabel>
					<p:outputLabel
						binding="#{hipotesisUnaPoblacionVista.oplZCalculado}" />

					<p:outputLabel value="Z teórico" />
					<p:outputLabel binding="#{hipotesisUnaPoblacionVista.oplZTeorico}" />

				</p:panelGrid>

				<p:panelGrid columns="2" layout="grid" style="display: none;">

					<p:outputLabel>Interpretación:</p:outputLabel>
					<p:outputLabel
						binding="#{hipotesisUnaPoblacionVista.oplInterpretacion}" />

				</p:panelGrid>

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>